.cards-list {
  display: flex;
  flex-flow: row wrap;

  .card {
    display: flex;
    flex-basis: 45%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    flex-direction: column;

    &--good {
      background-color: aqua;
    }
    &--evil {
      background-color: red;
    }
    &__controls {
      text-align: center;
      padding:10px;
      margin-top: 10px;
      border-top: 1px solid #000;
      &__button {
        padding: 8px 15px;
        border: none;
        color: #fff;
        &:focus, &:hover {
          background-color: #fff;
          color: #000;
        }
        
        &--like {
          background-color: green;
        }
        &--dislike {
          background-color: rgb(129, 32, 32);
        }
        &--super-like {
          background-color: rgb(57, 94, 218);
        }
      }
    }
    &__main-info {
      display: flex;
      &__name {
        font-weight: 600;
        font-size: 18px;
      }
      &__div {
        width: 100px;
        height: 150px;
        background: grey;
        flex-shrink: 0;
        align-self: center;
      }
      &__wrapper {
        margin-left: 10px;
        flex-direction: column;
        display: flex;
        
        h2 {
          text-align: center;
        }
      }
    }
  }
}